* {
    margin: 0px;
    padding: 0;
    /* width: 100%; */
}

.header {
    background: #f8dbdb;
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1rem 2rem;
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    width: 100%;
}

.wallet-button {
    border: black 2px solid;
    border-radius: 0.5rem;
    height: 2.5rem;
    padding: 0.5rem;
    font-weight: 600;
}

.logo-button {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.5rem;
    display: flex;
}

.header a {
    text-decoration: none;
    color: black;
}

.connect {
    display: flex;
    margin-left: auto;
}

.special-btn {
    font-size: 1.2rem;
    background: none;
    cursor: pointer;
    font-weight: 900;
    color: #1f2937;
}